body {
    margin: 0;
    background-color: #414141;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
h1{
    position: absolute;
    width: 100vw;
    text-align: center;
    font-weight: 800;
    font-size: 72px;
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: darkcyan;
    border: 0px;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 40px;
}

button:hover{
    background-color: rgb(32, 202, 202);
    cursor: pointer;
}

.hidden {
    display: none;
}

.error{
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}

#initForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#initButton {
    position: fixed;
    top: 54%;
    left: 50%;
    width: 300px;
    height: 40px;
    transform: translate(-50%, -50%);
    font-size: 25px;
    padding: 0;
}

#initButton:hover{
    background-color: rgb(32, 202, 202);
    width: 310px;
    height: 45px;
    cursor: pointer;
}

#functionalitiesDiv {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 5vh;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

#restView, #shuffleCube, #solveCube{
    display: inline-block;
}